html {
  box-sizing: border-box;
}

body {
  min-width: 960px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.visually-hidden {
  display: none;
}

body {
  margin: 0;
  padding: 0;

  font-family: "Cuprum", Arial, sans-serif;
}

.container {
  width: 940px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

.title {
  margin: 0;

  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  font-family: "Cuprum", Arial, sans-serif;
  text-transform: uppercase;
}

.button {
  display: inline-block;
  min-height: 38px;

  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  font-family: "Cuprum", Arial, sans-serif;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #ee3643;
  border: none;
  border-radius: 2px;
}

.button:hover,
.button:focus {
  background-color: #ca2c37;
}

.button:active {
  background-color: #ba2732;
}

.main-header {
  margin-bottom: 120px;
}

.main-header-catalog {
  margin-bottom: 82px;
}

.main-header-top {
  min-width: 960px;

  font-size: 17px;
  line-height: 18px;
  color: #ffffff;

  background-color: #293449;
}

.header-top {
  display: flex;
  margin-bottom: 50px;
}

.header-logo,
.footer-logo {
  margin: 0;
  padding: 10px ;
  width: 220px;

  height: 42px;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  vertical-align: middle;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #ee3643;
}

.header-logo:hover,
.footer-logo:hover,
.header-logo:focus,
.footer-logo:focus {
  background-color: #ca2c37;
}

.header-logo:active,
.footer-logo:active {
  background-color: #ba2732;
}

.search {
  width: 270px;
}

.search-button,
.search-field {
  font-size: inherit;
  line-height: inherit;
  font-family:inherit;
  color: inherit;

  background-color: #293449;
  border: none;
}

.search-button:hover,
.search-button:focus {
  background-color: #212A3A;
}

.search-field::placeholder {
  color: inherit;
}

.search-field:focus {
  color: #000000;

  background-color: #ffffff;

  outline: none;
}

.search-field:focus + .search-button {
  color: #000000;

  background-color: #ffffff;
}

.top-menu {
  display: flex;
  width: 450px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.top-menu a:hover,
.top-menu a:focus {
  color: #ffffff;

  background-color: #212a3a;
}

.top-menu a:active {
color: rgba(255, 255, 255, 0.6);

  background-color: #161d29;
}

.top-menu a,
.header-logo h2 {
  color: #ffffff;
}

a.header-order {
  background-color: #63a63e;
}

a.header-order:hover,
a.header-order:hover {
  background-color: #5fbb2d;
}

a.header-order:active {
  color: rgba(255, 255, 255, 0.51);

  background-color: #518534;
}

.header-middle {
  display: flex;
  justify-content: space-between;
  margin-bottom: 42px;
}

.site-description {
  width: 300px;

  font-style: italic;
  font-size: 16px;
  line-height: 23px;
  color: #ee3643;
}

.header-middle p {
  margin: 0;
}

.header-contacts {
  width: 300px;
}

.header-contacts span {
  font-size: 21px;
  line-height: 21px;
  color: #ee3643;
}

.header-contacts p {
  font-size: 14px;
  line-height: 24px;
  color: #32425c;
}

.login-link,
.registration {
  font-size: 21px;
  line-height: 21px;
  color: #000000;
}

.user-navigation {
  width: 300px;

  margin: 0;
  padding: 0;
  list-style: none;
}

.user-navigation a:hover,
.user-navigation a:focus {
  color: #ee3643;
}

.user-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}

.user-profile {
  display: none;
}

.user-name {
  font-size: 21px;
  line-height: 21px;
}

.user-profile a {
  font-size: 16px;
  line-height: 18px;
  color: #32425c;
  text-decoration: underline;
}

.user-profile a:hover,
.user-profile a:focus {
  color: #ee3643;
}

.user-profile a:active {
  color: rgba(50, 66, 92, 0.3);
}

.site-navigation{
  display: flex;
  margin: 0;
  padding: 0;
  min-height: 55px;
  list-style: none;

  background-color: #32425c;
}

.site-navigation a {
  font-size: 17px;
  line-height: 17px;
  color: #ffffff;
}

.site-navigation a:hover,
.site-navigation a:focus {
  background-color: #1d2739;
}

.site-navigation a:active {
  color: rgba(250, 250, 250, 0.5);

  background-color: #1d2739;
}

.container-catalog {
  font-family: "PT Sans", Arial, sans-serif;
}

.breadcrumbs {
  display: flex;
  margin: 0;
  margin-bottom: 50px;
  padding: 0;

  list-style: none;
}

.breadcrumbs a {
  font-size: 13px;
  line-height: 18px;
  color: #000000;
  text-transform: uppercase;
}

.breadcrumbs a:hover,
.breadcrumbs a:focus {
  text-decoration: underline;
}

a.breadcrumbs-current:hover,
a.breadcrumbs-current:focus {
  text-decoration: none;
}

.title-catalog {
  margin-bottom: 60px;
  color: #32425c;
}

.catalog-filters-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 124px;
}

.filters {
  width: 220px;
}

.filters .visually-hidden {
  display: block;
}

.filters h2 {
  margin: 0;
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
}

.filter legend {
  font-weight: 700;
  font-size: 17px;
  line-height: 30px;
  text-transform: uppercase;
}

.filter ul {
  list-style: none;
}

.range {
  font-size: 17px;
  line-height: 18px;
}

.filter-option {
  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;
}

.filter fieldset {
  border: none;
}

.sort {
  display: flex;
  justify-content: space-between;
  padding-left: 18px;
  margin-bottom: 32px;
}

.sort ul {
  display: flex;
  margin: 0;
  padding: 0;

  list-style: none;
}

.sort h2 {
  margin: 0;
}

.sort h2,
.sort a {
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
}

.sort a {
  color: rgba(0, 0, 0, 0.3);

  border-bottom-style: dotted;
  border-bottom-color: #ee3643;
}

.sort a:hover {
  color: #000000;
  border-bottom-style: solid;
}

.sort img {
  opacity: 0.3;
}

.sort img:hover {
  opacity: 1;
}

a.sort-arrow,
a.sort-arrow:hover {
  border: none;
}

a.current-sort {
  color: #ee3643;
  border: none;
}


.promo {
  display: flex;
  justify-content: space-between;
  margin-bottom: 78px;

  color: #ffffff;
}

.promo-wrapper-top {
  display: flex;
  flex-wrap: wrap;
}

.promo-wrapper-bottom {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.slider {
  order: 1;
  width: 620px;
  /*min-height: 266px;*/
  background-color: #b3927b;
}

.slider-item:first-of-type {
  background-image: url("../img/slider-2.jpg");
  background-repeat:no-repeat;
}

.slider-item:last-of-type {
  display: none;
  background-image: url("../img/slider-1.jpg");
  background-repeat:no-repeat;
}

.slider-item h3 {
  font-size: 36px;
  line-height: 36px;
}

.slider-item p {
  font-size: 18px;
  line-height: 24px;
}

.promo-item {
  width: 300px;
  /*min-height: 123px;*/
  margin-bottom: 20px;

  background-repeat: no-repeat;
  background-position: 150px center;
}

.promo-item h3 {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
}

.promo-item a {
  background-color: rgba(0, 0, 0, 0.1);
}

.promo-item a:hover,
.promo-item a:focus {
  background-color: rgba(0, 0, 0, 0.2);
}

.promo-item a:active {
  background-color: rgba(0, 0, 0, 0.3);
}

.promo-material {
  margin-right: 20px;
  background-color: #ffbf47;
  background-image: url("../img/icon-1.svg");
}

.promo-tool {
  background-color: #3bbce3;
  background-image: url("../img/icon-2.svg");
}

.promo-machines {
  background-color: #dc91d8;
  background-image: url("../img/icon-3.svg");
}

.promo-discounts {
  background-color: #8ed78f;
  background-image: url("../img/icon-4.svg");
}

.promo-delivery {
  margin-bottom: 0;
  background-color: #ffc047;
  background-image: url("../img/icon-5.svg");
}

.popular {
  margin-bottom: 128px;
}

.popular-items {
  margin-bottom: 46px;
}

.popular h2 {
  margin: 0;

  color: #32425c;
}

.popular-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 24px 46px 30px;
}

.item-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.popular-items-list {
  font-weight: 700;
  font-family: "PT Sans", Arial, sans-serif;
  list-style: none;
}

.catalog-list {
  margin-bottom: 52px;
}

.catalog-item {
  width: 220px;
  margin-right: 20px;
}

.catalog-list li:nth-child(3n) {
  margin-right: 0;
}

.popular-items-list li:nth-child(4n) {
  margin-right: 0;
}

.catalog-item:hover,
.catalog-item:focus {
  box-shadow: 0 10px 30px 10px rgba(0, 0, 0, 0.2);
}

.catalog-item h3 {
  margin: 0;

  font-size: 18px;
  line-height: 20px;
}


.price del {
  font-size: 17px;
  line-height: 18px;
  color: #a9a9a9;
}

.item-button {
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
  font-family: "PT Sans", Arial, sans-serif;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #ee3643;
}

.hidden-buttons {
  font-size: 14px;
  line-height: 18px;
  font-family: "Cuprum", Arial, sans-serif;
}

.buy-button {
  background-color: #63a63e;
}

.buy-button:hover,
.buy-button:focus {
  background-color: #5fbb2d;
}

.buy-button:active {
  background-color: #518534;
}

.to-bookmark-button {
  color: #32425c;

  background-color: #ffffff;
  border: 2px solid #63a63e;
}

.to-bookmark-button:hover,
.to-bookmark-button:focus {
  background-color: #ffffff;
  border-color: #32425c;

}

.to-bookmark-button:active {
  color: rgba(50, 66, 92, 0.3);

  background-color: #ffffff;
  border-color: rgba(50, 66, 92, 0.3);
}

.popular-brands-references {
  display: flex;
  flex-wrap: wrap;
}

.brand-reference {
  display: flex;
  justify-content: center;
  width: 220px;
  height: 145px;
  margin-right: 20px;
  margin-bottom: 20px;

  outline: 1px solid #eaeaea;
}

.brand-reference img {
  align-self: center;
}

.brand-reference:nth-child(4n) {
  margin-right: 0;
}

.brand-reference:hover,
.brand-reference:focus {
  box-shadow: 0 10px 60px 5px rgba(0, 0, 0, 0.2);
}

.brand-reference:active {
  opacity: 0.3;
  box-shadow: 0 5px 60px 0px rgba(0, 0, 0, 0.8);
}

.paginator {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.paginator a {
  margin-right: 10px;

  font-size: 13px;
  font-family: inherit;
  color: inherit;

  background-color: #ffffff;
  border: 1px solid #e5e5e5;
}

.paginator a:hover,
.paginator a:focus {
  border-color: #bdc6ca;
  background-color: #ffffff;
}

.paginator a:active {
  border-color: #ee3643;
  background-color: #ffffff;
}

a.current-page,
a.current-page:hover,
a.current-page:focus {
  color: #ffffff;

  background-color: #ee3643;
  border: none;
}

.services {
  margin-bottom: 180px;

  font-size: 13px;
  line-height: 24px;
  font-family: "PT Sans", Arial, sans-serif;
}

.services p {
  margin: 0;
}

.services .title {
  margin-bottom: 35px;
}

.services-top {
  margin-bottom: 73px;
}

.services-content {
  display: flex;
  justify-content: space-between;
}

.side-menu {
  margin: 0;
  padding: 0;
  width: 240px;

  font-size: 21px;
  line-height: 30px;
  color: #ffffff;
  list-style: none;
}

.side-menu li {
  background-color: #32425c;
}

.side-menu li:hover,
.side-menu li:focus {
  background-color: #293449;
}

.service {
  width: 620px;
}

.services-guarantee {
  display: none;
}

.services-credit {
  display: none;
}

.services-header {
  margin: 0;
  margin-bottom: 28px;

  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  color: #32425c;
}

.services-delivery {
  background-image: url("../img/service-delivery.png");
  background-repeat: no-repeat;
}

.services-guarantee {
  background-image: url("../img/service-guarantee.png");
  background-repeat: no-repeat;
}

.services-credit {
  background-image: url("../img/service-credit.png");
  background-repeat: no-repeat;
}

.description-contacts-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 86px;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
}

.description-shipping-list {
  font-size: 18px;
  line-height: 20px;
  list-style: none;
}

.info-text {
  margin-bottom: 72px;
}

.info-text .title {
  margin-bottom: 30px;
}

.info-text p {
  margin: 0;
  font-size: 13px;
  line-height: 24px;
}

.main-footer {
  font-size: 18px;
  line-height: 24px;
  color: #f1f5f7;

  background-color: #32425c;
}

.footer-top .container {
  display: flex;

}

.logo-contacts-wrapper {
  width: 380px;
}

.footer-menu {
  margin: 0;
  padding: 0;
  width: 550px;
  list-style: none;
}


.footer-menu a:hover,
.footer-menu a:focus {
  text-decoration: underline;
}

a.footer-menu-top:active {
  color: rgba(241, 245, 247, 0.5);
  text-decoration:none;
}

.footer-menu-top {
  color: #f1f5f7;
}

.footer-menu-bottom {
  color: #ffd180;
}

a.footer-menu-bottom:active {
  color: rgba(255, 209, 128, 0.5);
  text-decoration:none;
}

.footer-bottom {
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;

  background-color: #293449;
}

.footer-bottom .container {
  display: flex;
  justify-content: space-between;
}

.footer-copyright-left {
  width: 300px;
}

.footer-social {
  margin: 0;
  padding: 0;
  width: 300px;
  list-style: none;
}

.social-button,
.footer-feedback a,
.footer-copyright-right a {
  color: #ffd180;
}

.social-button {
  background-color: #212a3a;
}

.social-button:hover,
.social-button:focus {
  background-color: #ee3643;
}

.feedback-copyright-wrapper {
  display: flex;
  width: 300px;
}

.footer-feedback a:hover,
.footer-copyright-right a:hover,
.footer-feedback a:focus,
.footer-copyright-right a:focus {
  text-decoration: underline;
}

.footer-feedback a:active,
.footer-copyright-right a:active {
  color: #ee3643;
  text-decoration: none;
}

.modal {
  width: 620px;
  padding-bottom: 37px;
  padding-left: 80px;
  padding-right: 80px;
  border-top: 7px solid #ee3643;
  box-shadow: 0 15px 60px 10px rgba(0, 0, 0, 0.2);
}

.modal-message {
  padding-top: 45px;
}

.modal-message p {
  margin: 0;
}

.message-input-wrapper {
  display: flex;
  margin-bottom: 20px;
  justify-content: space-between;
}

.message-input-top {
  width: 220px;
}

.message-user-input {
  height: 38px;
}

p.message-input-bottom {
  width: 100%;
  margin-bottom: 74px;
}

.message-comment-input {
  max-width: 100%;
  height: 114px;
}

.modal-message label {
  display: block;
  font-size: 18px;
  line-height: 18px;
  margin-bottom: 10px;
}

.message-input {
  width: 100%;

  font-size: 13px;
  line-height: 18px;
  font-family: "PT Sans", Arial, sans-serif;

  border: 2px solid #dee3e4;
  border-radius: 2px;
}

.message-input:hover {
  border-color: #b5b5b5;
}
.message-input:focus {
  border-color: #ee3643;
  outline:none;
}

.modal-cart {
  padding-top: 63px;
  background-image: url("../img/form-1.svg");
  background-repeat: no-repeat;
}

.modal-cart h2 {
  margin-left: 99px;
  margin-bottom: 105px;
  text-transform: none;
}

.continue-shopping-button,
.restore-button {
  color: #000000;

  background: #ffffff;
}

.continue-shopping-button:hover,
.restore-button:hover,
.continue-shopping-button:focus,
.restore-button:focus {
  text-decoration: underline;

  background: #ffffff;
}

.continue-shopping-button:active,
.restore-button:active {
  color: rgba(0, 0, 0, 0.5);

  background: #ffffff;
}

.modal-login {
  padding-top: 45px;
}
.login-password-info input {
  display: block;
}
